[submodule "typo3conf/ext/pg_blog"]
	path = typo3conf/ext/pg_blog
	url = https://github.com/maguedon/pg_blog.git
[submodule "typo3conf/ext/touver_blog"]
	path = typo3conf/ext/touver_blog
	url = https://github.com/audrey-tlm/touver_blog.git
[submodule "typo3conf/ext/ch_sb_blog"]
	path = typo3conf/ext/ch_sb_blog
	url = https://github.com/SnafuB/ch_sb_blog.git
[submodule "typo3conf/ext/mbm_blog"]
	path = typo3conf/ext/mbm_blog
	url = https://github.com/Bramvanosta/School_TYPO3.git
[submodule "typo3conf/ext/d_k_t_ext"]
	path = typo3conf/ext/d_k_t_ext
	url = https://github.com/Dimi-menor/d_k_t_ext.git
[submodule "typo3conf/ext/aces"]
	path = typo3conf/ext/aces
	url = https://github.com/EtienneSultan/aces.git
[submodule "typo3conf/ext/blog_erar"]
	path = typo3conf/ext/blog_erar
	url = https://github.com/Andre-Rb/Typo3_blog_erar.git
[submodule "typo3conf/ext/be2j_blog"]
	path = typo3conf/ext/be2j_blog
	url = https://github.com/jeremyvnt/be2j_blog.git
